<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
    <frameset rows="10%,80%,10%" frameborder="yes" border="8" bordercolor="red" noresize="true">
        <frame name="home-top" src="home-top.html">
        <frameset cols="16%,84%" frameborder="yes" border="8" bordercolor="red">
            <frame name="home-left" src="home-left.html">
        </frameset>
        <frame name="home-bottom" src="home-bottom.html">
    </frameset>
    <!-- test -->
</html>