<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆/注册</title>
    <link rel="stylesheet" href="css/a.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
<h2 align="center">注册</h2>
<form action="/autumn/registerCheck" method="post">
    <h5>用户名：</h5>
    <input type="text" name="username">
    <h5>密  码：</h5>
    <input type="password" name="password"><br />
    <h5>身份</h5>
    <input type="text" name="userIdentity">
    <input type="submit" value="注册">
</form>
</body>
</html>