<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程表</title>
</head>
<body>
<h2 align="center">课程表</h2>
<table border="2" align="center">
    <tr th:each="lesson,lessonStat:${lessons}">
        <td th:text="${lesson.lessonId}">lessonId</td>
        <td th:text="${subjectName}">subjectName</td>
        <td th:text="${teacherName}">teacherName</td>
        <td th:text="${classInfo}">classInfo</td>
        <td th:text="${lesson.subjectStartTime}">subjectStartTime</td>
        <td th:text="${lesson.subjectEndTime}">subjectEndTime</td>
        <td th:text="${lesson.lessonDay}">lessonDay</td>
        <td th:text="${lesson.lessonTime}">lessonTime</td>
        <td th:text="${lesson.lessonRoom}">lessonRoom</td>
    </tr>
</table>
</body>
</html>