<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>录入评价表</title>
  <!-- 引入Layui的CSS文件和JS文件 -->
  <link rel="stylesheet" href="css/layui.css">
  <script src="js/layui.js"></script>
  <!-- 引入Bootstrap的CSS文件和JS文件 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/other.css">
</head>
<body>
  <div class="container" align="center">
    <h1 class="page-header" align="center">同行听课评价表(理论课/<a href="/autumn/EntryReviewExp">实验课</a>)</h1>
    <table class="table table-striped">
        <tr>
            <td>授课教师:</td>
            <td><input type="text"></td>
            <td>课程名称:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>授课班级:</td>
            <td><input type="text"></td>
            <td>授课时间:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>授课主题:</td>
            <td><input type="text"></td>
            <td>授课地点:</td>
            <td><input type="text"></td>
        </tr>  
    </table>
    <table class="table table-bordered">
        <tr align="center">
            <td>评价类别</td>
            <td>评价项目</td>
            <td>项目总分</td>
            <td>评价标准</td>
            <td>评价等级</td>
        </tr>
        <tr align="center">
            <td rowspan="6" style="display:table-cell; vertical-align:middle">教</td>
            <td align="left">1、教学内容和目标明确，符合教学大纲要求</td>
            <td>8分</td>
            <td align="left">1星(1分)、2星(3分)、3星(5分)、4星(7分)、5星(8分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">2、教学内容娴熟，问题阐述收放自如</td>
            <td>15分</td>
            <td align="left">1星(4分)、2星(7分)、3星(10分)、4星(13分)、5星(15分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">3、讲述条理清晰，概念准确，重点突出</td>
            <td>10分</td>
            <td align="left">1星(2分)、2星(4分)、3星(6分)、4星(8分)、5星(10分)</td>
            <td>4</td>
            </tr>
        <tr align="center">
            <td align="left">4、使用普通话，语言表达清楚、简洁、准确、语速适中</td>
            <td>8分</td>
            <td align="left">1星(1分)、2星(3分)、3星(5分)、4星(7分)、5星(8分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">5、PPT制作精良，板书规范，能有效利用各种教学媒体</td>
            <td>8分</td>
            <td align="left">1星(1分)、2星(3分)、3星(5分)、4星(7分)、5星(8分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">6、有先进的教学理念、实用的教学方法，教学设计精心、课堂效果好</td>
            <td>10分</td>
            <td align="left">1星(2分)、2星(4分)、3星(6分)、4星(8分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <!-- 学 -->
        <tr align="center">
            <td rowspan="4" style="display:table-cell; vertical-align:middle">学</td>
            <td align="left">7、教学内容和目标明确，符合教学大纲要求</td>
            <td>10分</td>
            <td align="left">1星(2分)、2星(4分)、3星(6分)、4星(8分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">8、使用普通话，语言表达清楚、简洁、准确、语速适中</td>
            <td>8分</td>
            <td align="left">1星(1分)、2星(3分)、3星(5分)、4星(7分)、5星(8分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">9、PPT制作精良，板书规范，能有效利用各种教学媒体</td>
            <td>8分</td>
            <td align="left">1星(1分)、2星(3分)、3星(5分)、4星(7分)、5星(8分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">10、有先进的教学理念、实用的教学方法，教学设计精心、课堂效果好</td>
            <td>15分</td>
            <td align="left">1星(4分)、2星(7分)、3星(10分)、4星(13分)、5星(15分)</td>
            <td>4</td>
        </tr>
     </table>
     <table class="table table-striped">
        <tr>
            <td>教师情况:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 提前5分钟以上进入教师准备
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 迟到
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 早退
                </label>
            </td>
        </tr>
        <tr>
            <td>课堂氛围:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 活跃
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 沉闷
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 轻松
                </label>
                <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox3" value="option3"> 安静
                </label>
                <label class="checkbox-inline">
                            <input type="checkbox" id="inlineCheckbox3" value="option3"> 其他
                </label>
            </td>
        </tr>
        <tr>
            <td>学生情况:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 大多数认真听讲
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 一半认真听讲
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 只有少数人听
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 少数玩手机
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 部分玩手机
                </label>
            </td>
        </tr>
        <tr>
            <td>教材情况:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 学生手上有正式教材
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 学生手上有自编讲义
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 学生手上有分发资料
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 学生手上有无资料教材
                </label>
            </td>
        </tr>
        <tr>
            <td>抬头情况:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 大多数学生抬头看老师
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 半数左右学生抬头看老师
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 只有少学生抬头看老师
                </label>
            </td>
        </tr>
        <tr>
            <td>就座情况:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 前三排基本坐满
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 前三排座位空余较多
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 学生主要选择教室中后部分就座
                </label>
            </td>
        </tr>
        <tr>
            <td>授课形式:</td>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 完全单向教师讲、学生听
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 有讨论、提问交流等互动
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 有探究法或其他新教学模式应用
                </label>
            </td>
        </tr>  
     </table>
     <h4 align="left">总体评价:</h4>
     <textarea class="form-control" rows="5"></textarea><br />
     <h4 align="left">存在问题/需要改进的地方及具体改进建议/对你的启发(不少于100字):</h4>
     <textarea class="form-control" rows="5"></textarea><br />
     <button class="btn btn-success">提交记录</button><hr>
  </div>
</body>
</html>