<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>录入评价表</title>
  <!-- 引入Layui的CSS文件和JS文件 -->
  <link rel="stylesheet" href="css/layui.css">
  <script src="js/layui.js"></script>
  <!-- 引入Bootstrap的CSS文件和JS文件 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/other.css">
</head>
<body>
  <div class="container" align="center">
      <h1 class="page-header" align="center">同行听课评价表(<a href="/autumn/EntryReview">理论课</a>/实验课)</h1>
    <table class="table table-striped">
        <tr>
            <td>授课教师:</td>
            <td><input type="text"></td>
            <td>上课班级:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>课程名称:</td>
            <td><input type="text"></td>
            <td>实验课题:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>听课时间:</td>
            <td><input type="text"></td>
            <td>听课地点:</td>
            <td><input type="text"></td>
        </tr>  
    </table>
    <table class="table table-bordered">
        <tr align="center">
            <td>主要指标</td>
            <td>具体指标</td>
            <td>项目总分</td>
            <td>评价标准</td>
            <td>评价等级</td>
        </tr>
        <tr align="center">
            <td rowspan="4" style="display:table-cell; vertical-align:middle">教<br/>学<br/>内<br/>容<br/>与<br/>方<br/>法</td>
            <td align="left">1、备课充分，有完整的实验教案或讲义，熟悉实验内容，实验目的明确，内容充实，符合教学大纲要求。</td>
            <td>15分</td>
            <td align="left">1星(7分)、2星(10分)、3星(12分)、4星(14分)、5星(15分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">2、分组及人数符合实验要求，指导教师讲授具有启发性，熟悉仪器设备，操作示范正确，熟练。</td>
            <td>15分</td>
            <td align="left">1星(7分)、2星(10分)、3星(12分)、4星(14分)、5星(15分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">3、普通话熟练，口头语言表达清楚准确，富有感染力和吸引力，采用板书或其他教学手段（如多媒体、直观教学）演示和介绍实验内容效果良好。</td>
            <td>10分</td>
            <td align="left">1星(5分)、2星(7分)、3星(8分)、4星(9分)、5星(10分)</td>
            <td>4</td>
            </tr>
        <tr align="center">
            <td align="left">4、实验各环节时间把握恰当，注重引导学生思考和学生实际动手能力的培养，注重探索与改进实验教学方法，重视课堂内外师生双向交流。</td>
            <td>10分</td>
            <td align="left">1星(5分)、2星(7分)、3星(8分)、4星(9分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td rowspan="3" style="display:table-cell; vertical-align:middle">教<br/>学<br/>态<br/>度</td>
            <td align="left">5、遵守教学与课堂纪律，上课通信工具关闭，不迟到早退，准时上下课。</td>
            <td>10分</td>
            <td align="left">1星(5分)、2星(7分)、3星(8分)、4星(9分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">6、为人师表，注重教态仪表和言行身教，教书的同时注重育人，引导学生积极向上，不对学生宣讲负面和具有消极影响的言论。</td>
            <td>10分</td>
            <td align="left">1星(5分)、2星(7分)、3星(8分)、4星(9分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
            <td align="left">7、对学生要求严格，善于管理学生上课出勤和课堂纪律，对原始实验数据审查严格，对实验报告批阅认真规范。</td>
            <td>10分</td>
            <td align="left">1星(5分)、2星(7分)、3星(8分)、4星(9分)、5星(10分)</td>
            <td>4</td>
        </tr>
        <tr align="center">
                <td rowspan="1" style="display:table-cell; vertical-align:middle">效<br/>果</td>
            <td align="left">8、学生实验兴趣浓，思维活跃，注意力集中，实验秩序纪律好，通过本节实验课的教学，学生能掌握本节课的教学内容，感觉受启发，收获大。</td>
            <td>20分</td>
            <td align="left">1星(9分)、2星(13分)、3星(17分)、4星(18分)、5星(20分)</td>
            <td>4</td>
        </tr>
     </table>
     <table class="table table-bordered">
        <tr>
            <td>管理<br />规范</td>
            <td>
                <h5>按时开门,环境整洁,实验仪器设备维护完好,台套数满足教学要求;实验室管理规范,室内醒目位置有文字式的管理制度与操作规范</h5>
            </td>
            <td>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>优
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>良
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>一般
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>中下
                    </label>
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>差
                    </label>
                </div>
            </td>
        </tr>
     </table>
     <h4 align="left">综合评语:</h4>
     <textarea class="form-control" rows="5"></textarea><br />
     <button class="btn btn-success">提交记录</button><hr>
  </div>
</body>
</html>