<!DOCTRPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="utf-8">
  <title>教师管理</title>
  <!-- 引入Layui的CSS文件和JS文件 -->
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/layui.css" media="all">
  <script src="js/layui.js"></script> 
  <!-- 引入Bootstrap的CSS文件和JS文件 -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container"  align="center" >
		<h1 class="page-header" align="center">用户管理</h1>
		<form action="/autumn/ManageUser" method="post">
		<table class="table table-striped">
        <tr>
            <td>教师名字:</td>
            <td>
			<select class="form-control" name="teacherName">
				<option value="1" selected disabled>-非必填-</option>
				<option value="2">郑丰华</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<input type="text" class="text-success form-control">
			</td>
			<td>教师身份:</td>
            <td>
			<select class="form-control" name="teacherId">
				<option value="1" selected disabled>-非必填-</option>
				<option value="2">郑丰华</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="6666">5</option>
				<option value="2">普通老师</option>
				<option value="3">督导老师</option>
			</select>
			</td>
        </tr>
		<tr>
			<td><button type="submit" class="btn btn-success">查找</button>
			<button type="reset" class="btn btn-warning">重置</button></td>
		</tr>
	</table>
	</form>
	
	<table class="layui-hide" id="demo" lay-filter="test"></table>
 
	<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
              
          
<script src="js/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 --> 
 
<script>
layui.config({
  version: '1554901097999' //为了更新 js 缓存，可忽略
});
 
layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
  var laydate = layui.laydate //日期
  ,laypage = layui.laypage //分页
  ,layer = layui.layer //弹层
  ,table = layui.table //表格
  ,element = layui.element //元素操作

  
  
  //执行一个 table 实例
  table.render({
    elem: '#demo'
    ,height: 420
    ,url: '/demo/table/user/' //数据接口
    ,title: '用户表'
    ,page: true //开启分页
    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
    ,totalRow: true //开启合计行
    ,cols: [
    		[ //表头
      {type: 'checkbox', fixed: 'left'}
      ,{field: 'id', title: '用户ID', width:100, sort: true, fixed: 'left', totalRowText: '合计：'}
      ,{field: 'username', title: '用户名', width:130}
      ,{field: 'teacher', title: '老师名', width: 100,  totalRow: true}
      ,{field: 'identity', title: '用户身份', width:130}
      ,{field: 'sex', title: '性别', width: 80, totalRow: true}
      ,{field: 'birth', title: '生日', width:150,sort: true} 
      ,{field: 'position', title: '职位', width: 100}
      ,{field: 'phone', title: '电话', width: 150}
      ,{fixed: 'right', width: 165, align:'center', toolbar: '#barDemo'}
    	]
	  ]
  });
  
  //监听头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id)
    ,data = checkStatus.data; //获取选中的数据
    switch(obj.event){
      case 'add':
        layer.msg('添加');
      break;
      case 'update':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else if(data.length > 1){
          layer.msg('只能同时编辑一个');
        } else {
          layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
        }
      break;
      case 'delete':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else {
          layer.msg('删除');
        }
      break;
    };
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del(); //删除对应行（tr）的DOM结构
        layer.close(index);
        //向服务端发送删除指令
      });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });
  
});
</script>
	</div>
</body>
</html>