<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <!-- 引入Layui的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/layui.css">
    <script src="js/layui.js"></script>
    <!-- 引入Bootstrap的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
        td{
            font-size: large;
        }
    </style>
</head>
<body>
    <h1 class="page-header" align="center">修改信息</h1>
    <div class="container" align="center">
        <form action="#">
            <table class="table table-striped">
                <tr>
                    <td>账号：<input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>密码：<input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>确认：<input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>身份：<input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>生日：<input class="form-control" type="text"></td>
                </tr>
                <tr>
                    <td>电话：<input class="form-control" type="text"></td>
                </tr>
            </table>
            <button class="btn btn-success">提交修改</button>
        </form>
    </div>
</body>
</html>