<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>消息管理</title>
    <script src="js/jquery.min.js"></script>
    <!-- 引入Layui的CSS文件和JS文件 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css" media="all">
    <script src="js/layui.js"></script>
    <!-- 引入Bootstrap的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        function toAgree(recordId) {
            ajax("agree",recordId);
            window.location.reload(true);
        }
        function toRefuse(recordId) {
            ajax("refuse",recordId);
            window.location.reload(true);
        }
        function toDelete(recordId) {
            ajax("delete",recordId);
            window.location.reload(true);
        }
        function ajax(key,recordId) {
            var url="/autumn/SupervisionRecord"
            var xhr = new XMLHttpRequest();
            xhr.open('post',url, false);
            xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xhr.send("type="+key+"&recordId="+recordId);
            xhr.onreadystatechange = function () {
                // 这步为判断服务器是否正确响应
                if (xhr.readyState == 4 && xhr.status == 200) {
                }
            };
        }
    </script>
</head>
<body>
<div class="container" align="center">
    <h1 class="page-header" align="center">消息管理</h1>
    <h3 align="left" style="color:rgb(78, 205, 196);">待处理</h3>
    <div>
        <table class="table table-condensed table-striped">
            <tr th:each="teaSubRecLes:${review}">
                <div th:if="${teaSubRecLes.record.isHandle} eq 0">
                    <div th:if="${teaSubRecLes.record.type} eq 1">
                        <td th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>听课安排</td>
                        <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                                th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                        <td><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>老师</span><span
                                th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                        <td>进行中</td>
                    </div>
                    <div th:if="${teaSubRecLes.record.type} eq 0">
                        <td th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td><span>我想听课</span></td>
                        <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                                th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                        <td><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>老师</span><span
                                th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                        <td>申请中</td>
                    </div>
                </div>
            </tr>
            <tr th:each="teaSubRecLes:${teach}">
                <div th:if="${teaSubRecLes.record.isHandle} eq 0">
                    <td th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>想听我的课</span></td>
                    <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                            th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                    <td><span th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                    <td> <button class="btn btn-success" th:onclick="javascript:toAgree([[${teaSubRecLes.record.recordId}]]);">通过</button><button class="btn btn-danger" th:onclick="javascript:toRefuse([[${teaSubRecLes.record.recordId}]]);">拒绝</button></td>
                </div>
            </tr>
        </table>
    </div>
    <h3 align="left" style="color:rgb(120,120,120);">历史记录</h3>
    <div class="col-md-12">
        <table class="table table-condensed table-striped" style="font-size:15px;color:#696969">
            <tr th:each="teaSubRecLes:${review}">
                <div th:if="${teaSubRecLes.record.isHandle} eq 1">
                    <div th:if="${teaSubRecLes.record.type} eq 0">
                        <td><span
                                th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td th:if="${teaSubRecLes.record.status} eq 2">我的申请通过</td>
                        <td th:if="${teaSubRecLes.record.status} eq 3">我的申请被拒</td>
                        <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                                th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                        <td><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>老师</span><span
                                th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                        <td><button type="button" class="btn btn-danger" th:onclick="javascript:toDelete([[${teaSubRecLes.record.recordId}]]);"><span class="glyphicon glyphicon-trash"
                                                                               aria-hidden="true"></span></button></td>
                    </div>
                    <div th:if="${teaSubRecLes.record.type} eq 1">
                        <td><span
                                th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                        <td th:if="${teaSubRecLes.record.reviewType ne 1}">听课完成</td>
                        <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                                th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                        <td><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>老师</span><span
                                th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                        <td><button type="button" class="btn btn-danger" th:onclick="javascript:toDelete([[${teaSubRecLes.record.recordId}]]);"><span class="glyphicon glyphicon-trash"
                                                                               aria-hidden="true"></span></button></td>
                    </div>
                </div>
            </tr>
            <tr th:each="teaSubRecLes:${teach}">
                <div th:if="${teaSubRecLes.record.status} eq 2">
                    <td><span
                            th:text="${#dates.format(teaSubRecLes.record.datetime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                    </td>
                    <td><span>已通过</span><span th:text="${teaSubRecLes.teacher.teacherName}"></span><span>老师的申请</span></td>
                    <td><span>周</span><span th:text="${teaSubRecLes.lesson.lessonDay}"></span><span
                            th:text="${teaSubRecLes.lesson.lessonTime}"></span><span>节</span></td>
                    <td><span th:text="${teaSubRecLes.subject.subjectName}"></span></td>
                    <td><button type="button" class="btn btn-danger" th:onclick="javascript:toDelete([[${teaSubRecLes.record.recordId}]]);"><span class="glyphicon glyphicon-trash"
                                                                           aria-hidden="true"></span></button></td>
                </div>
            </tr>
        </table>
    </div>

</div>
</body>
<script src="layui.js"></script>
<script type="text/javascript" src="js/bootstrap-table.js"></script>
</html>