<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>教师管理</title>
    <!-- 引入Layui的CSS文件和JS文件 -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/layui.css" media="all">
    <script src="layui.js"></script>
    <!-- 引入Bootstrap的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
    <style type="text/css">
        #tableUserInfo, #top-panel td {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
        #updateInfo {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -300px;
            margin-top: -300px;
        }
    </style>
    <script th:inline="javascript">
        function deleteCheck(deleteUserId) {
            var flag = confirm("是否删除该老师?");
            if (flag == true) {
                var url = "/autumn/ManageUser?deleteUserId=" + deleteUserId;
                parent.document.getElementById('mainIframe').src = url;
            }
        }
        function addUser() {
            parent.document.getElementById('mainIframe').src = "/autumn/AddUser";
        }
        function updateTeacherInfo(teacherId,teacherIdentity, teacherPosition) {
            var editFrame = document.getElementById("updateInfo");
            var updatePosition = document.getElementById("updatePosition");
            var updateIdentity = document.getElementById("updateIdentity");
            var updateID = document.getElementById("updateID");
            if (teacherIdentity == "一级督导") {
                updateIdentity.value = "1";
            }
            else if (teacherIdentity == "督导老师") {
                updateIdentity.value = "2";
            }
            else {
                updateIdentity.value = "3";
            }
            updateID.value = teacherId;
            updatePosition.value = teacherPosition;
            editFrame.style.display = 'block';
        }
        function closeUpdateTeacherInfo() {
            var editFrame = document.getElementById("updateInfo");
            editFrame.style.display = 'none';
        }
        function showUserPreviousPage() {
            var startIndex = document.getElementById("startIndex").innerText;
            var pageSize = document.getElementById("pageSize");
            var url = "/autumn/ManageUserPreviousNextPage?startIndex=" + startIndex + "&&pageSize=" + pageSize.value + "&&state=previous";
            parent.document.getElementById('mainIframe').src = url;
        }
        function showUserNextPage() {
            var startIndex = document.getElementById("startIndex").innerText;
            var pageSize = document.getElementById("pageSize");
            var url = "/autumn/ManageUserPreviousNextPage?startIndex=" + startIndex + "&&pageSize=" + pageSize.value + "&&state=next";
            parent.document.getElementById('mainIframe').src = url;
        }
        function showUserPaging() {
            var pageIndex = document.getElementById("pageIndex");
            var pageSize = document.getElementById("pageSize");
            var url = "/autumn/ShowUserPaging?pageIndex=" + pageIndex.value + "&&pageSize=" + pageSize.value;
            console.log(url);
            parent.document.getElementById('mainIframe').src = url;
        }
    </script>
</head>
<body>
<div class="container" align="center" id="manageUser">
    <h1 class="page-header" align="center">用户管理</h1>
    <form action="/autumn/ManageUser">
        <table id="top-panel" class="table table-striped">
            <tr>
                <td>教师名字:</td>
                <td>
                    <input type="text" name="teacherName" class="form-control" placeholder="请输入你需要查找老师的姓名">
                </td>
                <td>教师职位:</td>
                <td>
                    <select class="form-control" name="teacherPosition">
                        <option value="-1" selected disabled>-非必填-</option>
                        <option value="3">普通老师</option>
                        <option value="2">普通督导</option>
                        <option value="1">一级督导</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success">查找</button>
                    <button type="reset" class="btn btn-warning">重置</button>
                </td>
            </tr>
        </table>
    </form>


    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <div>
        <table class="table table-striped text-right">
            <tr>
                <td class="text-left">
                    <button class="btn btn-info" onclick="showUserPreviousPage()">上一页</button>
                    <button class="btn btn-info" onclick="showUserNextPage()">下一页</button>
                    <b>&nbsp;&nbsp;到第&nbsp;</b><input id="pageIndex" type="text" style="width: 2.5em;text-align: center"><b>&nbsp;页&nbsp;</b>
                    <button class="btn btn-success" onclick="showUserPaging()">确定</button>
                    <b>&nbsp;&nbsp;第</b>
                    <span id="startIndex" th:text="${currentPage}" style="font-weight: bold">1</span>
                    <b>/</b>
                    <span id="endIndex" th:text="${totalPage}" style="font-weight: bold">1</span>
                    <b>页&nbsp;</b>
                    <select id="pageSize" class="input-sm">
                        <option value="5">5条/页</option>
                        <option value="10">10条/页</option>
                        <option value="20">20条/页</option>
                    </select>
                </td>
                <td>
                    <button data-method="select" onclick="addUser()" type="button" class="btn btn-primary">添加用户</button>
                <td>
            </tr>
        </table>
        <table id="tableUserInfo" class="table table-bordered">
            <tr>
                <td>用户ID</td>
                <td>用户名</td>
                <td>老师姓名</td>
                <td>老师身份</td>
                <td>性别</td>
                <td>出生日期</td>
                <td>电话</td>
                <td>职位</td>
                <td>操作</td>
            </tr>
            <tr th:each="teacher, teacherStat:${teachers}">
                <td th:text="${teacher.userId}">UserID</td>
                <td th:text="${userMap.get(teacher.userId).userName}">UserName</td>
                <td th:text="${teacher.teacherName}">TeacherName</td>
                <td th:text="${identityMap.get(userMap.get(teacher.userId).userIdentity)}">TeacherIdentity</td>
                <td th:text="${teacher.teacherSex}">TeacherName</td>
                <td th:text="${#dates.format(teacher.teacherBirthday, 'yyyy-MM-dd')}">TeacherName</td>
                <td th:text="${teacher.teacherPhone}">TeacherName</td>
                <td th:text="${teacher.teacherPosition}">TeacherPosition</td>
                <td>
                    <button th:onclick="javascript:updateTeacherInfo([[${teacher.teacherId}]],[[${identityMap.get(userMap.get(teacher.userId).userIdentity)}]],[[${teacher.teacherPosition}]]);" data-method="select" type="button" class="btn btn-success">编辑</button>
                    <button th:onclick="javascript:deleteCheck([[${teacher.userId}]]);" data-method="more" type="submit" class="btn btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>

    <!-- 管理员更新老师信息(Identity、Position) -->
    <div id="updateInfo" class="modal-dialog" align="center" style="display: none">
        <div  class="modal-content" style="width:400px;">
            <div class="modal-header" >
                <h4 class="text-center text-primary">编辑信息</h4>
            </div>
            <div class="modal-body">
                <form action="/autumn/UpdateInfo" method="post" class="form col-md-12 center-block">
                    <div class="form-group">
                        <p class="text-left">老师ID(不可修改)</p>
                        <input type="text" id="updateID" name="teacherId" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <p class="text-left">编辑身份</p>
                        <select id="updateIdentity" name="teacherIdentity" class="form-control">
                            <option value="3">普通老师</option>
                            <option value="2">普通督导</option>
                            <option value="1">一级督导</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p class="text-left">编辑职位</p>
                        <input type="text" id="updatePosition" name="teacherPosition" class="form-control" placeholder="老师职位">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">修改信息</button>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-lg btn-block" onclick="closeUpdateTeacherInfo()">取消编辑</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>

</div>
</body>
</html>