<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>教学督导评价管理系统</title>

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css"/>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <script src="lib/chart-master/Chart.js"></script>

</head>
<body>
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Sam Soffes</h5>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.my_inf()">
                    <i class="fa fa-dashboard"></i>
                    <span>我的信息</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.sup_rec()">
                    <i class="fa fa-dashboard"></i>
                    <span>听课记录</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.mag_inf()">
                    <i class="fa fa-dashboard"></i>
                    <span>信息管理</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.app_rev()">
                    <i class="fa fa-dashboard"></i>
                    <span>申请听课</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.mag_sup()">
                    <i class="fa fa-dashboard"></i>
                    <span>安排听课</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.mag_user()">
                    <i class="fa fa-dashboard"></i>
                    <span>用户管理</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.ent_rev()">
                    <i class="fa fa-home"></i>
                    <span>录入评价表</span>
                </a>
            </li>
            <li class="mt" style="margin-top: 0px">
                <a onclick="parent.history()">
                    <i class="fa fa-home"></i>
                    <span>历史记录</span>
                </a>
            </li>
            <li>
                <a href="google_maps.html">
                    <i class="fa fa-map-marker"></i>
                    <span>Google Maps </span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
</body>
</html>