<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>我的信息</title>
</head>
<body>
<h1>My Iformation</h1>
<table border="2" align="center">
    <tr>
        <td>userId</td>
        <td>userName</td>
        <td>userIdentity</td>
        <td>teacherId</td>
        <td>teacherName</td>
        <td>teacherSex</td>
        <td>teacherBirthday</td>
        <td>teacherPosition</td>
        <td>teacherPhone</td>
    </tr>
    <tr>
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userIdentity}"></td>
        <td th:text="${teacher.teacherId}"></td>
        <td th:text="${teacher.teacherName}"></td>
        <td th:text="${teacher.teacherSex}"></td>
        <td th:text="${teacher.teacherBirthday}"></td>
        <td th:text="${teacher.teacherPosition}"></td>
        <td th:text="${teacher.teacherPhone}"></td>
    </tr>
</table>
</body>
</html>