<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>听课记录</title>
    <!-- 引入Layui的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/layui.css">
    <script src="js/layui.js"></script>
    <!-- 引入Bootstrap的CSS文件和JS文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
    <h1 class="page-header" align="center">听课记录</h1>
    <p th:text="${user.userName}">UserName</p>
    <p th:text="${user.userPassword}">UserPassword</p>
</body>
</html>